<!DOCTYPE html>
<html>
<head>
  <title>Select Slot</title>
</head>
<section class="select-slot">
  <div class="container">
    <div class="row">
        <div class="slots">
          <h1> Time Slots </h1>
          <ul class="time-slots">
            <li *ngFor= "let m of morning_slots">
              <button type="button" (click)="select(m.id)" class="button button1" id="{{m.id}}">{{m.name}}</button>
            </li>
          </ul>
          <ul class="time-slots">
            <li *ngFor= "let a of afternoon_slots">
              <button type="button" (click)="select(a.id)" class="button button1" id="{{a.id}}">{{a.name}}</button>
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>
