<!DOCTYPE html>
<html>
<head>
  <title>Slot Detail Form</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
</head>
<section class="slot-bg h-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-lg-5 col-md-7 my-auto mx-auto">
        <div class="slot-boxs">
          <h3> Slot Detail Form </h3>
          <form [formGroup]="slotForm"  (ngSubmit)="submitForm(slotForm.value)" novalidate>
            <div class="form-group" [ngClass]="{'has-error':(!slotForm.controls['firstName'].valid && slotForm.controls['firstName']?.touched)}">
              <label>First Name:</label>
              <input class="form-control" type="text" placeholder="John" [formControl]="slotForm.controls['firstName']">
            </div>
            <div class="form-group" [ngClass]="{'has-error':(!slotForm.controls['lastName'].valid && slotForm.controls['lastName']?.touched)}">
              <label>Last Name</label>
              <input class="form-control" type="text" placeholder="Doe" [formControl]="slotForm.controls['lastName']">
            </div>
            <div class="form-group" [ngClass]="{'has-error':(!slotForm.controls['PhoneNumber'].valid && slotForm.controls['PhoneNumber']?.touched)}">
              <label>Phone Number</label>
              <input class="form-control" type="text"  [formControl]="slotForm.controls['PhoneNumber']" maxlength="10">
            </div>
            <div class="form-group text-center" >
              <button type="submit" class="btn btn-primary" [disabled]="!slotForm.valid">Save</button>
              <button class="btn btn-primary" (click)="back()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
